<div class="main">
  <div class="header">
    <app-toolbar></app-toolbar>
  </div>
  <div class="content">
    <mat-card class="new-credit-card">
      <mat-card-header>
        <mat-card-title>Nuevo crédito</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <mat-form-field>
          <mat-label>Ingresa el tipo de moneda</mat-label>
          <mat-select required>
            <mat-option value="soles">Soles (S/.)</mat-option>
            <mat-option value="dollars">Dólares ($)</mat-option>
            <mat-option value="euros">Euros (€)</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa el precio del vehiculo</mat-label>
          <input type="number" matInput [formControl]="validations.vehiclePrice" required>
          <mat-error *ngIf="validations.vehiclePrice.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa el número de cuotas</mat-label>
          <input type="number" matInput [formControl]="validations.feeNumber" required>
          <mat-error *ngIf="validations.feeNumber.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa el monto de la cuota inicial</mat-label>
          <input type="number" matInput [formControl]="validations.initialFeeAmount" required>
          <mat-error *ngIf="validations.initialFeeAmount.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa el intervalo de tiempo a pagar</mat-label>
          <input matInput required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Url de la imagen del vehículo</mat-label>
          <input matInput [formControl]="validations.url" required>
          <mat-error *ngIf="validations.url.invalid">{{validations.getStringErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa el tipo de periodo de gracia</mat-label>
          <mat-select>
            <mat-option value="partial">Parcial</mat-option>
            <mat-option value="complete">Completo</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa el número de cuotas con periodo de gracia</mat-label>
          <input type="number" matInput [formControl]="validations.gracePeriod" required>
          <mat-error *ngIf="validations.gracePeriod.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa el tipo de tasa de interés</mat-label>
          <mat-select>
            <mat-option value="nominal">Nominal</mat-option>
            <mat-option value="effective">Efectiva</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa la tasa de interés</mat-label>
          <input type="number" matInput [formControl]="validations.interestRatePercentage" required>
          <mat-error *ngIf="validations.interestRatePercentage.invalid">{{validations.getPercentageRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Costes notariales</mat-label>
          <input type="number" matInput [formControl]="validations.notarialCosts" required>
          <mat-error *ngIf="validations.notarialCosts.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Costes registrales</mat-label>
          <input type="number" matInput [formControl]="validations.registerCosts" required>
          <mat-error *ngIf="validations.registerCosts.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>GPS</mat-label>
          <input type="number" matInput [formControl]="validations.gps" required>
          <mat-error *ngIf="validations.gps.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Portes</mat-label>
          <input type="number" matInput [formControl]="validations.ports" required>
          <mat-error *ngIf="validations.ports.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gastos de administración</mat-label>
          <input type="number" matInput [formControl]="validations.administrationBills" required>
          <mat-error *ngIf="validations.administrationBills.invalid">{{validations.getRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>% de seguro de desgravamen</mat-label>
          <input type="number" matInput [formControl]="validations.lifeInsurancePercentage" required>
          <mat-error *ngIf="validations.lifeInsurancePercentage.invalid">{{validations.getPercentageRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>% de seguro riesgo</mat-label>
          <input type="number" matInput [formControl]="validations.riskInsurancePercentage" required>
          <mat-error *ngIf="validations.riskInsurancePercentage.invalid">{{validations.getPercentageRangeErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa la fecha inicial</mat-label>
          <input type="date" matInput [formControl]="validations.initialDate" required>
          <mat-error *ngIf="validations.initialDate.invalid">{{validations.getDateErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ingresa la fecha final</mat-label>
          <input type="date" matInput [formControl]="validations.finalDate" required>
          <mat-error *ngIf="validations.finalDate.invalid">{{validations.getDateErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="footer">
    <a class="confirm-button" mat-raised-button color="accent" routerLink="/home">Crear crédito</a>
    <a class="cancel-button" mat-raised-button color="warn" routerLink="/home">Cancelar</a>
  </div>
</div>
