<div>
  <h3 class="content-title">
    <mat-toolbar>
      <span>Available products</span>
    </mat-toolbar>
  </h3>
  <div class="content card-container">
    <ng-container *ngFor="let credit of pagedList" class="grid-title">
      <app-credit-card-content [credit]="credit"></app-credit-card-content>
    </ng-container>
  </div>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [hidePageSize]=true
                 (page)="OnPageChange($event)">
  </mat-paginator>
</div>