<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Plan: {{credit.id}}</mat-card-title>
  </mat-card-header>
  <br>
  <img mat-card-image src="{{credit.url}}" alt="car picture" class="car-image">
  <mat-card-content>
    <p>Precio del vehiculo: {{credit.vehiclePrice}}</p>
    <p>Cuotas: {{credit.feeNumber}}</p>
    <p>Inicial: {{credit.initialFeeAmount}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="viewCreditDetails(credit.id)"><b>VER PLAN</b></button>
  </mat-card-actions>
</mat-card>